.navbar.navbar-expand-lg.bg-light {
    overflow: hidden;
    border-radius: 30px;
    background-color: #485461 !important;
    transform: scale(0.9) translateY(10px);
}

.navbar-brand {
    font-weight: bold !important;
    color: #ffffff !important;
    z-index: 1000;
}

#parte_tras_name {
    width: 180px;
    height: 75px;
    border-radius: 30px;
    transform: translateX(-30px);
    filter: drop-shadow(0px 0px 10px #323b44);
    z-index: 100;
}

.upload-overflow {
    width: 155vh;
    height: 15px;
    position: absolute;
    border-radius: 30px;
    transform: translateY(6.5vh) translateX(20px);
    z-index: 800;
    overflow: hidden;
}

.upload-bar {
    width: 40%;
    height: 15px;
    left: -100%;
    position: absolute;
    transform: translate(0, -0.12vh);
    background-color: #323b44;
    border-radius: 30px;
    animation: infinite;
    animation-name: upload-bar;
    animation-duration: 1s;
    animation-delay: 1s;
    z-index: 1000;
}

.upload-animation {
    width: 165vh;
    height: 100px;
    position: absolute;
    background-color: #485461;
    transform: translateX(-20px);
    animation: ease;
    animation-name: upload-animation;
    animation-duration: 1s;
    z-index: 1000;
    overflow: hidden;
}

@keyframes upload-animation {
    0% {
        transform: translateX(-20px) translateY(100%);
    }

    100% {
        transform: translateX(-20px) translateY(0%);
    }
}

@keyframes upload-bar {
    0% {
        transform: translate(0, -0.12vh);
        left: -100%;
    }

    50% {
        transform: translate(0, -0.12vh);
        left: 0;
    }

    100% {
        transform: translate(0, -0.12vh);
        left: 100%;
    }
}

.fa.fa-clipboard {
    color: #ffffff;
}

#botao_nav {
    transform: translateX(10px);
    background: none;
}

body {
    height: 100vh;
    background: repeating-linear-gradient(45deg, #303a44 0px, #283038 590px);
}

.upload {
    --color-black-softest: #485461;
    /* softer black */
    --color-black-soft: #363F48;
    /* softer black */
    --color-black-hard: #2d353c;
    /* harder black */
    --color-black-hardest: #21282e;
    /* hardest black */
    --color-green-light: #65cca9;
    /* light green */
    --color-green: #29b586;
    /* medium green */
    --ease-in-out-quartic: cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    display: inline-flex;
    background: #485461;
    border-radius: 10px;
    box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02), 0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035), 0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05), 0 60px 50px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    transform: rotate(0);
}

.upload-info {
    display: flex;
    align-items: center;
    padding: 16px;
    fill: #fff;
    color: #fff;
}

.upload-filename {
    padding-left: 8px;
    transition: opacity 300ms ease;
}

.upload-filename .inactive {
    opacity: 0.6;
}

.upload-button {
    background: #ef5350;
    border: none;
    outline: none;
}